{% extends "base.html" %}

{% block header %}
    <title>Adulthood</title>
    <style>
        body{
            background-color: rgba(255, 10, 20, 0.2);
        }
    </style>
{% endblock %}

{% block title %}Adulthood{% endblock %}

{% block content %}
     <div class="container">
        <div class="row">
            <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>Adult life</h3>
                <p class="large-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus
                    et. Ultrices neque ornare aenean euismod elementum. Pretium aenean pharetra magna ac placerat. Mi
                    tempus imperdiet nulla malesuada. Lorem ipsum dolor sit amet consectetur adipiscing. Ut eu sem integer
                    vitae justo eget magna fermentum iaculis. At consectetur lorem donec massa sapien. Phasellus egesta

              </p>
          </div>
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>Friends</h3>
                <p class="large-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus
                    et. Ultrices neque ornare aenean euismod elementum. Pretium aenean pharetra magna ac placerat. Mi
                    tempus imperdiet nulla malesuada. Lorem ipsum dolor sit amet consectetur adipiscing. Ut eu sem integer

              </p>
          </div>
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>Family</h3>
                <p class="large-txt">
                    tellus rutrum tellus pellentesque eu tincidunt. Id leo in vitae turpis massa sed elementum. Placerat
                    duis ultricies lacus sed turpis tincidunt id aliquet risus. Aenean pharetra magna ac placerat vestibulum
                    lectus. Pharetra massa massa ultricies mi quis hendrerit. Arcu dictum varius duis at consectetur lorem.
                    Dignissim enim sit amet venenatis urna. Libero enim sed faucibus turpis in eu. Pharetra diam sit amet
                  nisl suscipit adipiscing bibendum est ultricies. Est ullamcorper eget nulla facilisi etiam dignissim.

              </p>
          </div>
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>Travel</h3>
                <p class="large-txt">
                    et. Ultrices neque ornare aenean euismod elementum. Pretium aenean pharetra magna ac placerat. Mi
                    tempus imperdiet nulla malesuada. Lorem ipsum dolor sit amet consectetur adipiscing. Ut eu sem integer
                    vitae justo eget magna fermentum iaculis. At consectetur lorem donec massa sapien. Phasellus egestas
                    tellus rutrum tellus pellentesque eu tincidunt. Id leo in vitae turpis massa sed elementum. Placerat
                    duis ultricies lacus sed turpis tincidunt id aliquet risus. Aenean pharetra magna ac placerat vestibulum
                    lectus. Pharetra massa massa ultricies mi quis hendrerit. Arcu dictum varius duis at consectetur lorem.

              </p>
          </div>
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>Hobbies</h3>
                <p class="large-txt">
                    tellus rutrum tellus pellentesque eu tincidunt. Id leo in vitae turpis massa sed elementum. Placerat
                    duis ultricies lacus sed turpis tincidunt id aliquet risus. Aenean pharetra magna ac placerat vestibulum
                    lectus. Pharetra massa massa ultricies mi quis hendrerit. Arcu dictum varius duis at consectetur lorem.
                    Dignissim enim sit amet venenatis urna. Libero enim sed faucibus turpis in eu. Pharetra diam sit amet
                  nisl suscipit adipiscing bibendum est ultricies. Est ullamcorper eget nulla facilisi etiam dignissim.

              </p>
          </div>
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>school</h3>
                <p class="large-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus
                    Dignissim enim sit amet venenatis urna. Libero enim sed faucibus turpis in eu. Pharetra diam sit amet
                  nisl suscipit adipiscing bibendum est ultricies. Est ullamcorper eget nulla facilisi etiam dignissim.
                    Dignissim enim sit amet venenatis urna. Libero enim sed faucibus turpis in eu. Pharetra diam sit amet
                  nisl suscipit adipiscing bibendum est ultricies. Est ullamcorper eget nulla facilisi etiam dignissim.

              </p>
          </div>
        </div>
        <div class="row">
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>Work</h3>
                <p class="large-txt">
                    Dignissim enim sit amet venenatis urna. Libero enim sed faucibus turpis in eu. Pharetra diam sit amet
                  nisl suscipit adipiscing bibendum est ultricies. Est ullamcorper eget nulla facilisi etiam dignissim.
                    duis ultricies lacus sed turpis tincidunt id aliquet risus. Aenean pharetra magna ac placerat vestibulum
                    lectus. Pharetra massa massa ultricies mi quis hendrerit. Arcu dictum varius duis at consectetur lorem.
                    Dignissim enim sit amet venenatis urna. Libero enim sed faucibus turpis in eu. Pharetra diam sit amet
                  nisl suscipit adipiscing bibendum est ultricies. Est ullamcorper eget nulla facilisi etiam dignissim.

              </p>
          </div>
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>sports</h3>
                <p class="large-txt">
                    tellus rutrum tellus pellentesque eu tincidunt. Id leo in vitae turpis massa sed elementum. Placerat
                    duis ultricies lacus sed turpis tincidunt id aliquet risus. Aenean pharetra magna ac placerat vestibulum
                    lectus. Pharetra massa massa ultricies mi quis hendrerit. Arcu dictum varius duis at consectetur lorem.
                    Dignissim enim sit amet venenatis urna. Libero enim sed faucibus turpis in eu. Pharetra diam sit amet
                  nisl suscipit adipiscing bibendum est ultricies. Est ullamcorper eget nulla facilisi etiam dignissim.

              </p>
          </div>
           <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>clubs</h3>
                <p class="large-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus
                    et. Ultrices neque ornare aenean euismod elementum. Pretium aenean pharetra magna ac placerat. Mi
                    tempus imperdiet nulla malesuada. Lorem ipsum dolor sit amet consectetur adipiscing. Ut eu sem integer

              </p>
          </div>
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>Volunteering</h3>
                <p class="large-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus
                    et. Ultrices neque ornare aenean euismod elementum. Pretium aenean pharetra magna ac placerat. Mi
                    tempus imperdiet nulla malesuada. Lorem ipsum dolor sit amet consectetur adipiscing. Ut eu sem integer
                    vitae justo eget magna fermentum iaculis. At consectetur lorem donec massa sapien. Phasellus egestas

              </p>
          </div>
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>books</h3>
                <p class="large-txt">
                    vitae justo eget magna fermentum iaculis. At consectetur lorem donec massa sapien. Phasellus egestas
                    tellus rutrum tellus pellentesque eu tincidunt. Id leo in vitae turpis massa sed elementum. Placerat
                    duis ultricies lacus sed turpis tincidunt id aliquet risus. Aenean pharetra magna ac placerat vestibulum

              </p>
          </div>
             <div class="col-xl-1 col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <h3>goals</h3>
                <p class="large-txt">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi tristique senectus
                    et. Ultrices neque ornare aenean euismod elementum. Pretium aenean pharetra magna ac placerat. Mi
                    tempus imperdiet nulla malesuada. Lorem ipsum dolor sit amet consectetur adipiscing. Ut eu sem integer
                    vitae justo eget magna fermentum iaculis. At consectetur lorem donec massa sapien. Phasellus egestas

              </p>
          </div>
        </div>
    </div>

{% endblock %}

{% block content2 %}
<div class="container">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3 class="center">Concordia</h3>
            <p class="center">This was my University</p>
            <img src="static/images/concordia.png" alt="Sainte-Anne", class="img-responsive">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h3 class="center">john-Abbott</h3>
            <p class="center">This was my cegep</p>
            <img src="static/images/john-abbott.jpg" alt="John Abbott", class="img-responsive">
        </div>
    </div>

</div>
<br/><br/><br/>
{% endblock %}

{% block question1 %}
    <label class="control-label col-sm-3" for="question 1">What University do I go to?</label>
    <div class="col-sm-9">
        <input type="radio" name="question 1" value="Concordia">
        <label for="Concordia">Concordia</label><br>
        <input type="radio" name="question 1" value="McGill">
        <label for="McGill">McGill</label><br>
        <input type="radio" name="question 1" value="UdeM">
        <label for="UdeM">UdeM</label><br>
    </div>
{% endblock %}